.datatable .col {
    cursor: pointer;
    background-color: rgb(92, 91, 91);
    color: white;
}

.datatable .col .pointer:after {
    font-size: 80%;
    content: "";
    text-align: center;
    /* margin-right: 5px; */
}
